*{margin:0;padding:0;text-decoration:none;list-style:none;font-size:0.15rem;
-webkit-box-sizing:border-box;box-sizing:border-box;font-family: "PingFang SC";}
body,html{width:100%;height:100%;background:#040f23;}
input{-webkit-user-select:auto;} 
img{border:0}
a{text-decoration:none}
.view{padding-top:1.01rem;}
.hd-wrap{width:100%;height:auto;background:#040f23;position:fixed;left:0;top:0;padding-bottom:0.1rem;z-index:9999;}
.idx-hd{height:0.5rem;width:100%;background:#131d2e;font-size:0.15rem;
    color:#ffffff;text-align:center;position: relative;line-height:0.5rem;
    }

.idx-hd h1{font-size:0.2rem;}
.idx-hd .back,.idx-hd .service{position:absolute;}
.idx-hd .back{left:0px;width:40px;height:100%;line-height:0.5rem;text-align:center;}
.idx-hd .back img{width:11px;height:22px;margin-top:0.14rem;}
.idx-hd .service{right:15px;top:50%;font-size:0.12rem;
    -webkit-transform:translate3d(0, -50%,0);transform:translate3d(0, -50%,0);}
.idx-hd .service a{color:#ffffff;}
.idx-nav{width:100%;height:0.4rem;font-size:0.15rem;line-height:0.4rem;
    border-top:1px solid #040f23;}

.idx-nav ul li{float:left;width:25%;text-align:center;border-bottom:3px solid transparent;
    background:#131d2e;}

.idx-nav ul li a{color:#636b83;}
.idx-nav ul .router-link-active{border-color:#3fd6e4;color:#3fd6e4;}
.idx-nav ul .router-link-active a{color:#3fd6e4;}
#b_content{padding-top:1.01rem;}

.bt_soll{position:relative;width:100%;height:1.2rem;overflow:hidden}
.bt_sbox{width:100%;overflow:hidden;}
.bt_sbox ul{width:9999px;height:1.2rem;overflow:hidden;position:absolute;top:0;left:0}
.bt_sbox li{float:left;width:100%;height:1.2rem;}
.bt_sbox li img{width:100%;height:1.2rem;}
.bt_sbox li a{display:block;width:100%;height:1.2rem;}
.bt_bico{position:absolute;bottom:8px;-webkit-bottom:8px;-webkit-left:0;left:0;z-index:999;width:100%;height:5px; text-align:center}
.bt_bico a{display:inline-block;width:5px;height:5px;margin:0 2px;background:rgba(0,0,0,0.3);text-indent:-1000px;border-radius:50%}
.bt_bico a.on{background:#000}

.listcon{margin-bottom:10px;width:100%;overflow:hidden;background:#131d2e;}
.topb img{width:100%}
.txtbox{float:left;width:100%;padding:8px 3% 8px 3%;overflow:hidden}
.txtbox dl{float:left;width:100%;padding-bottom:5px;}
.txtbox dt{float:left;width:13%;height:0.275rem;}
.txtbox dt img{width:0.275rem;height:0.275rem;border-radius:50%}
.txtbox dd{width:87%;float:left;line-height:0.3rem;color:#dddddd;}
.txtbox .name{float:left;font-size:0.15rem;color:#dddddd}
.txtbox .tm{float:right;font-size:0.11rem;color:#636b83}
.txtbox dd a{color:#514da5;}
.txtbox dd i{float:left;width:16%; margin:-14px 5px 0 0;}
.txtbox dd i img{width:100%}
.txtbox .txt{float:left;width:100%;line-height:0.24rem;font-size:0.15rem;word-break:break-all;display:-webkit-box;
-webkit-line-clamp:3;-webkit-box-orient:vertical;overflow:hidden;color:#bebfc0;}
.txtbox .txt i{display:inline-block;margin-top:-3px;height:0.16rem;line-height:0.14rem;padding:0 5px;margin-right:8px;border-radius:2px;font-style:normal;color:#e65244;border:1px #e65244 solid; font-size:0.12rem;
    -webkit-transform: translateY(-0.01rem);
    transform: translateY(-0.01rem);}
.txtbox .txt .vip{background:#e65244;color:#ffffff;border-color:#e65244;}
.titbox{float:left;width:100%;font-size:0.12rem;color:#176169;padding-bottom:10px;}
.titbox span{margin:0 10px 0 0px;}
.titbox span:nth-child(1){margin:0 10px 0 10px;}
.titbox span:last-child{display: inline-block;}
.titbox span:last-child:after {
    content: '';
    width: 0px;
    height: 0px;
    float: right;
    border: 0.07rem solid transparent;
    border-left-color: #176169;
    -webkit-transform: translate3d(0.06rem,0.035rem,0);
    transform: translate3d(0.06rem,0.035rem,0);
}
.txtbox .txt label{color:#e65244;font-size:0.12rem;padding: 0 5px;}
.txtbox .txt .gg{padding:0px;}
.onebox .bt_bico,.onebox .bt_sbox{display:none}
.onebox .oneimg img{width:100%;height:1.2rem;}
.bt_soll .oneimg{display:none}
.onebox .oneimg{display:block}
.ent_nav{color: #fff;background: #333333;height:0.83rem;}
.ent_nav dl{float: left;text-align: center;margin-top:15px;font-size: 0.16rem;}
.ent_nav dl dt{margin-bottom: 5px;}
.ent_nav dl img{width: 50%;}


@media (device-height:480px) and (-webkit-min-device-pixel-ratio:2){/* 兼容iphone4/4s */
.txtbox dd{width:87%}
} 

@media (device-height:568px) and (-webkit-min-device-pixel-ratio:2){/* 兼容iphone5 */
.txtbox dd{width:87%}
}




